[user]
    name = Andrew Klaus
    email = andrew@aklaus.ca

# Based on: https://blog.scottnonnenberg.com/better-git-configuration/
[alias]
    co = checkout
    ci = commit
    pp = !git pull && git push
    prune = fetch --prune
    undo = reset --soft HEAD^
    stash-all = stash save --include-untracked
    # We wanna grab those pesky un-added files!
    # https://git-scm.com/docs/git-stash

    stash-rename = "!_() { rev=$(git rev-parse $1) && git stash drop $1 || exit 1 ; git stash store -m \"$2\" $rev; }; _"

    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[push]
    default = simple
    followTags = true

[merge]
    ff = only
    tool = vimdiff

[status]
    showUntrackedFiles = all

[transfer]
    fsckobjects = false
[stash]
    showPatch = true
[rebase]
    autostash = true
[log]
    decorate = full
[init]
	defaultBranch = master
